# Preprocess

## Imports

In [1]:
import xarray as xr
import glob
import pandas as pd

In [18]:
from src.feng.Eparser import format_Eddy

## Global varriables

In [2]:
folders = [ _ for _ in range(1993,2019)]

In [3]:
fnames = glob.glob("data/1993/*.nc")

# Process

## Load data

In [4]:
y93 = [xr.load_dataset(fname) for fname in fnames]

In [12]:
y93_0 = xr.load_dataset(fnames[0]).to_dataframe()
y93_1 = xr.load_dataset(fnames[1]).to_dataframe()

In [6]:
y93_0

                                         crs  lat_bnds  lon_bnds  err  adt  \
time       latitude nv longitude
1993-01-01 -89.875  0  0.125     -2147483647     -90.0      0.00  NaN  NaN
                       0.375     -2147483647     -90.0      0.25  NaN  NaN
                       0.625     -2147483647     -90.0      0.50  NaN  NaN
                       0.875     -2147483647     -90.0      0.75  NaN  NaN
                       1.125     -2147483647     -90.0      1.00  NaN  NaN
...                                      ...       ...       ...  ...  ...
            89.875  1  358.875   -2147483647      90.0    359.00  NaN  NaN
                       359.125   -2147483647      90.0    359.25  NaN  NaN
                       359.375   -2147483647      90.0    359.50  NaN  NaN
                       359.625   -2147483647      90.0    359.75  NaN  NaN
                       359.875   -2147483647      90.0    360.00  NaN  NaN

                                  ugos  vgos  sla  ugosa  vgosa
time       latitude nv longitude
1993-01-01 -89.875  0  0.125       NaN   NaN  NaN    NaN    NaN
                       0.375       NaN   NaN  NaN    NaN    NaN
                       0.625       NaN   NaN  NaN    NaN    NaN
                       0.875       NaN   NaN  NaN    NaN    NaN
                       1.125       NaN   NaN  NaN    NaN    NaN
...                                ...   ...  ...    ...    ...
            89.875  1  358.875     NaN   NaN  NaN    NaN    NaN
                       359.125     NaN   NaN  NaN    NaN    NaN
                       359.375     NaN   NaN  NaN    NaN    NaN
                       359.625     NaN   NaN  NaN    NaN    NaN
                       359.875     NaN   NaN  NaN    NaN    NaN

[2073600 rows x 10 columns]

In [7]:
y93_0

                                         crs  lat_bnds  lon_bnds  err  adt  \
time       latitude nv longitude
1993-01-01 -89.875  0  0.125     -2147483647     -90.0      0.00  NaN  NaN
                       0.375     -2147483647     -90.0      0.25  NaN  NaN
                       0.625     -2147483647     -90.0      0.50  NaN  NaN
                       0.875     -2147483647     -90.0      0.75  NaN  NaN
                       1.125     -2147483647     -90.0      1.00  NaN  NaN
...                                      ...       ...       ...  ...  ...
            89.875  1  358.875   -2147483647      90.0    359.00  NaN  NaN
                       359.125   -2147483647      90.0    359.25  NaN  NaN
                       359.375   -2147483647      90.0    359.50  NaN  NaN
                       359.625   -2147483647      90.0    359.75  NaN  NaN
                       359.875   -2147483647      90.0    360.00  NaN  NaN

                                  ugos  vgos  sla  ugosa  vgosa
time       latitude nv longitude
1993-01-01 -89.875  0  0.125       NaN   NaN  NaN    NaN    NaN
                       0.375       NaN   NaN  NaN    NaN    NaN
                       0.625       NaN   NaN  NaN    NaN    NaN
                       0.875       NaN   NaN  NaN    NaN    NaN
                       1.125       NaN   NaN  NaN    NaN    NaN
...                                ...   ...  ...    ...    ...
            89.875  1  358.875     NaN   NaN  NaN    NaN    NaN
                       359.125     NaN   NaN  NaN    NaN    NaN
                       359.375     NaN   NaN  NaN    NaN    NaN
                       359.625     NaN   NaN  NaN    NaN    NaN
                       359.875     NaN   NaN  NaN    NaN    NaN

[2073600 rows x 10 columns]

## Current_work

In [10]:
y93[0].to_dataframe()

                                         crs  lat_bnds  lon_bnds  err  adt  \
time       latitude nv longitude
1993-01-01 -89.875  0  0.125     -2147483647     -90.0      0.00  NaN  NaN
                       0.375     -2147483647     -90.0      0.25  NaN  NaN
                       0.625     -2147483647     -90.0      0.50  NaN  NaN
                       0.875     -2147483647     -90.0      0.75  NaN  NaN
                       1.125     -2147483647     -90.0      1.00  NaN  NaN
...                                      ...       ...       ...  ...  ...
            89.875  1  358.875   -2147483647      90.0    359.00  NaN  NaN
                       359.125   -2147483647      90.0    359.25  NaN  NaN
                       359.375   -2147483647      90.0    359.50  NaN  NaN
                       359.625   -2147483647      90.0    359.75  NaN  NaN
                       359.875   -2147483647      90.0    360.00  NaN  NaN

                                  ugos  vgos  sla  ugosa  vgosa
time       latitude nv longitude
1993-01-01 -89.875  0  0.125       NaN   NaN  NaN    NaN    NaN
                       0.375       NaN   NaN  NaN    NaN    NaN
                       0.625       NaN   NaN  NaN    NaN    NaN
                       0.875       NaN   NaN  NaN    NaN    NaN
                       1.125       NaN   NaN  NaN    NaN    NaN
...                                ...   ...  ...    ...    ...
            89.875  1  358.875     NaN   NaN  NaN    NaN    NaN
                       359.125     NaN   NaN  NaN    NaN    NaN
                       359.375     NaN   NaN  NaN    NaN    NaN
                       359.625     NaN   NaN  NaN    NaN    NaN
                       359.875     NaN   NaN  NaN    NaN    NaN

[2073600 rows x 10 columns]

In [13]:
#
y93_1.ugos.notna().sum()/y93_1.vgos.notna().sum()
# Oké, ahol van sebesség ott van biztosan Eddy

1.0

In [14]:
v1 = y93_1.loc[y93_1.ugos.notna()]
v0 = y93_0.loc[y93_0.ugos.notna()]

## Get individual Eddy

In [15]:
Eddies = y93_0.loc[y93_0.ugos.notna()]

In [16]:
Eddies

                                         crs  lat_bnds  lon_bnds     err  \
time       latitude nv longitude
1993-01-01 -78.375  0  195.125   -2147483647    -78.50    195.00  0.0137
                       195.375   -2147483647    -78.50    195.25  0.0138
                    1  195.125   -2147483647    -78.25    195.25  0.0137
                       195.375   -2147483647    -78.25    195.50  0.0138
           -78.125  0  181.125   -2147483647    -78.25    181.00  0.0122
...                                      ...       ...       ...     ...
            82.125  1  355.125   -2147483647     82.25    355.25  0.0100
                       355.375   -2147483647     82.25    355.50  0.0100
                       355.625   -2147483647     82.25    355.75  0.0100
                       355.875   -2147483647     82.25    356.00  0.0100
                       356.125   -2147483647     82.25    356.25  0.0100

                                     adt    ugos    vgos     sla   ugosa  \
time       latitude nv longitude
1993-01-01 -78.375  0  195.125   -1.2218 -0.0100 -0.0314 -0.0686 -0.0133
                       195.375   -1.2198 -0.0089 -0.0356 -0.0674 -0.0114
                    1  195.125   -1.2218 -0.0100 -0.0314 -0.0686 -0.0133
                       195.375   -1.2198 -0.0089 -0.0356 -0.0674 -0.0114
           -78.125  0  181.125   -1.3420 -0.0032 -0.0089 -0.0599 -0.0183
...                                  ...     ...     ...     ...     ...
            82.125  1  355.125   -0.3049 -0.0007 -0.0361  0.0188  0.0006
                       355.375   -0.3074 -0.0018 -0.0504  0.0185  0.0006
                       355.625   -0.3108 -0.0024 -0.0514  0.0175  0.0021
                       355.875   -0.3132 -0.0035 -0.0200  0.0171  0.0021
                       356.125   -0.3152 -0.0045 -0.0983  0.0172  0.0022

                                   vgosa
time       latitude nv longitude
1993-01-01 -78.375  0  195.125   -0.0142
                       195.375   -0.0170
                    1  195.125   -0.0142
                       195.375   -0.0170
           -78.125  0  181.125    0.0237
...                                  ...
            82.125  1  355.125   -0.0026
                       355.375   -0.0118
                       355.625   -0.0118
                       355.875   -0.0025
                       356.125    0.0009

[1155838 rows x 10 columns]

In [17]:
aggdict = {'adt':'mean','ugos':"mean","vgos":"mean","sla":"mean","ugosa":"mean","vgosa":"mean"}
ABT = Eddies.groupby(["longitude","latitude"]).agg(aggdict)

In [19]:

format_Eddy(y93[1].to_dataframe())

In [279]:
y94 = y93_1
Eddies2 = y94.loc[y94.ugos.notna()]
Eddies2 = Eddies2.groupby(["longitude","latitude"]).agg(aggdict)

In [286]:
Eddies2[(Eddies2.index.get_level_values("longitude") == 32.625) & (Eddies2.index.get_level_values("latitude") == -69.375)]

Empty DataFrame
Columns: [adt, ugos, vgos, sla, ugosa, vgosa]
Index: []

In [308]:
dead_eddies = list(set(ABT.index.unique() ) - set(Eddies2.index.unique()))
dead_eddies

[(300.375, 64.875),
 (235.125, -70.875),
 (260.125, -71.625),
 (260.125, -71.375),
 (299.875, 64.875),
 (235.125, -70.625),
 (235.125, -70.375),
 (259.625, -71.375),
 (259.625, -71.625),
 (321.125, -74.875),
 (300.625, 64.625),
 (300.625, 64.875),
 (254.125, -73.875),
 (235.375, -70.875),
 (260.375, -71.375),
 (235.375, -70.625),
 (235.375, -70.375),
 (259.875, -71.625),
 (259.875, -71.375),
 (36.375, -69.125),
 (192.375, -69.125),
 (225.625, -74.375),
 (143.625, 58.375),
 (192.625, -68.875),
 (192.625, -68.625),
 (320.625, -75.625),
 (320.625, -75.375),
 (320.625, -75.125),
 (37.125, -69.125),
 (36.625, -69.125),
 (320.875, -74.875),
 (144.375, 58.375),
 (144.375, 58.625),
 (144.375, 58.875),
 (234.875, -71.625),
 (234.875, -71.375),
 (234.875, -71.125),
 (143.875, 58.375),
 (143.875, 58.625),
 (36.875, -68.625),
 (36.875, -68.375),
 (36.875, -68.875),
 (143.875, 58.875),
 (300.875, 66.125),
 (253.875, -73.875),
 (144.625, 58.625),
 (144.625, 58.875),
 (192.125, -69.125),
 (300.125, 65.125),
 (235.125, -71.625),
 (226.125, -74.375),
 (235.125, -71.375),
 (235.125, -71.125),
 (320.375, -75.375),
 (320.375, -75.125),
 (301.125, 66.125),
 (321.125, -75.625),
 (321.125, -75.375),
 (321.125, -75.125),
 (32.625, -69.375),
 (301.625, 65.625),
 (301.625, 65.875),
 (235.375, -71.625),
 (226.375, -74.375),
 (235.375, -71.375),
 (235.375, -71.125),
 (299.875, 65.125),
 (301.375, 66.125),
 (254.375, -73.875),
 (235.625, -70.875),
 (235.625, -70.625),
 (321.375, -75.625),
 (191.875, -69.125),
 (192.625, -69.125),
 (254.625, -73.875),
 (144.125, 59.125),
 (320.875, -75.625),
 (320.875, -75.375),
 (320.875, -75.125),
 (191.625, -68.375),
 (36.875, -69.125),
 (300.875, 65.375),
 (300.875, 65.625),
 (300.875, 65.875),
 (36.625, -68.875),
 (36.625, -68.625),
 (36.625, -68.375),
 (286.375, -46.375),
 (286.375, -46.125),
 (143.875, 59.125),
 (300.125, 64.875),
 (259.375, -71.625),
 (300.375, 65.125),
 (192.125, -68.875),
 (192.125, -68.625),
 (192.125, -68.375),
 (32.875, -69.375),
 (300.625, 65.125),
 (300.625, 65.375),
 (301.375, 65.375),
 (301.375, 65.625),
 (235.625, -71.375),
 (235.625, -71.125),
 (320.375, -74.875),
 (301.375, 65.875),
 (36.375, -68.875),
 (301.625, 66.125),
 (301.625, 66.375),
 (192.375, -68.875),
 (192.375, -68.625),
 (192.375, -68.375),
 (36.375, -68.625),
 (234.625, -70.375),
 (320.625, -74.875),
 (144.125, 58.375),
 (144.125, 58.625),
 (37.125, -68.875),
 (37.125, -68.625),
 (37.125, -68.375),
 (144.125, 58.875),
 (144.375, 59.125),
 (191.875, -68.875),
 (191.875, -68.625),
 (234.875, -70.875),
 (234.875, -70.625),
 (234.875, -70.375),
 (191.875, -68.375),
 (37.375, -68.375),
 (144.625, 59.125),
 (301.125, 65.375),
 (301.125, 65.625),
 (301.125, 65.875)]

[(300.375, 64.875),
 (235.125, -70.875),
 (260.125, -71.625),
 (260.125, -71.375),
 (299.875, 64.875),
 (235.125, -70.625),
 (235.125, -70.375),
 (259.625, -71.375),
 (259.625, -71.625),
 (321.125, -74.875),
 (300.625, 64.625),
 (300.625, 64.875),
 (254.125, -73.875),
 (235.375, -70.875),
 (260.375, -71.375),
 (235.375, -70.625),
 (235.375, -70.375),
 (259.875, -71.625),
 (259.875, -71.375),
 (36.375, -69.125),
 (192.375, -69.125),
 (225.625, -74.375),
 (143.625, 58.375),
 (192.625, -68.875),
 (192.625, -68.625),
 (320.625, -75.625),
 (320.625, -75.375),
 (320.625, -75.125),
 (37.125, -69.125),
 (36.625, -69.125),
 (320.875, -74.875),
 (144.375, 58.375),
 (144.375, 58.625),
 (144.375, 58.875),
 (234.875, -71.625),
 (234.875, -71.375),
 (234.875, -71.125),
 (143.875, 58.375),
 (143.875, 58.625),
 (36.875, -68.625),
 (36.875, -68.375),
 (36.875, -68.875),
 (143.875, 58.875),
 (300.875, 66.125),
 (253.875, -73.875),
 (144.625, 58.625),
 (144.625, 58.875),
 (192.125, -69.125),
 (300.125, 65.125),
 (235.125, -71.625),
 (226.125, -74.375),
 (235.125, -71.375),
 (235.125, -71.125),
 (320.375, -75.375),
 (320.375, -75.125),
 (301.125, 66.125),
 (321.125, -75.625),
 (321.125, -75.375),
 (321.125, -75.125),
 (32.625, -69.375),
 (301.625, 65.625),
 (301.625, 65.875),
 (235.375, -71.625),
 (226.375, -74.375),
 (235.375, -71.375),
 (235.375, -71.125),
 (299.875, 65.125),
 (301.375, 66.125),
 (254.375, -73.875),
 (235.625, -70.875),
 (235.625, -70.625),
 (321.375, -75.625),
 (191.875, -69.125),
 (192.625, -69.125),
 (254.625, -73.875),
 (144.125, 59.125),
 (320.875, -75.625),
 (320.875, -75.375),
 (320.875, -75.125),
 (191.625, -68.375),
 (36.875, -69.125),
 (300.875, 65.375),
 (300.875, 65.625),
 (300.875, 65.875),
 (36.625, -68.875),
 (36.625, -68.625),
 (36.625, -68.375),
 (286.375, -46.375),
 (286.375, -46.125),
 (143.875, 59.125),
 (300.125, 64.875),
 (259.375, -71.625),
 (300.375, 65.125),
 (192.125, -68.875),
 (192.125, -68.625),
 (192.125, -68.375),
 (32.875, -69.375),
 (300.625, 65.125),
 (300.625, 65.375),
 (301.375, 65.375),
 (301.375, 65.625),
 (235.625, -71.375),
 (235.625, -71.125),
 (320.375, -74.875),
 (301.375, 65.875),
 (36.375, -68.875),
 (301.625, 66.125),
 (301.625, 66.375),
 (192.375, -68.875),
 (192.375, -68.625),
 (192.375, -68.375),
 (36.375, -68.625),
 (234.625, -70.375),
 (320.625, -74.875),
 (144.125, 58.375),
 (144.125, 58.625),
 (37.125, -68.875),
 (37.125, -68.625),
 (37.125, -68.375),
 (144.125, 58.875),
 (144.375, 59.125),
 (191.875, -68.875),
 (191.875, -68.625),
 (234.875, -70.875),
 (234.875, -70.625),
 (234.875, -70.375),
 (191.875, -68.375),
 (37.375, -68.375),
 (144.625, 59.125),
 (301.125, 65.375),
 (301.125, 65.625),
 (301.125, 65.875)]

In [249]:
# set(Eddies2.index.get_level_values("latitude").unique()) 
# set(ABT.index.get_level_values("latitude").unique())
new_lat = list(set(Eddies2.index.get_level_values("latitude").unique()) - set(ABT.index.get_level_values("latitude").unique())) 
dead_lat = list(set(ABT.index.get_level_values("latitude").unique()) - set(Eddies2.index.get_level_values("latitude").unique()))

new_lon = list(set(Eddies2.index.get_level_values("longitude").unique()) - set(ABT.index.get_level_values("longitude").unique())) 
dead_lon = list(set(ABT.index.get_level_values("longitude").unique()) - set(Eddies2.index.get_level_values("longitude").unique()))

In [251]:
def proceed(ABT,Eddie):
    new_lat = list(set(Eddie.index.get_level_values("latitude").unique()) - set(ABT.index.get_level_values("latitude").unique())) 
    dead_lat = list(set(ABT.index.get_level_values("latitude").unique()) - set(Eddies2.index.get_level_values("latitude").unique()))

    new_lon = list(set(Eddie.index.get_level_values("longitude").unique()) - set(ABT.index.get_level_values("longitude").unique())) 
    dead_lon = list(set(ABT.index.get_level_values("longitude").unique()) - set(Eddies2.index.get_level_values("longitude").unique()))

[]

In [149]:
# Így kell individual Eddy-re bontani
longs = Eddies.loc[(Eddies.index.get_level_values('latitude') == lats[5])].index.get_level_values('longitude').unique()
Eddies.loc[(Eddies.index.get_level_values('latitude') == lats[5]) & (Eddies.index.get_level_values('longitude') == longs[15]) & (Eddies.index.get_level_values('nv') == 0)]

,,,,crs,lat_bnds,lon_bnds,err,adt,ugos,vgos,sla,ugosa,vgosa
time,latitude,nv,longitude,,,,,,,,,,
1993-01-01,-77.125,0,167.125,-2147483647,-77.25,167.0,0.0149,-1.3105,0.0335,-0.0034,-0.0174,-0.0004,-0.0204

# Test phase

In [95]:
v1[v1.index.get_level_values('latitude') == -77.375]

                                         crs  lat_bnds  lon_bnds     err  \
time       latitude nv longitude
1993-01-02 -77.375  0  163.625   -2147483647    -77.50    163.50  0.0130
                       163.875   -2147483647    -77.50    163.75  0.0130
                       164.125   -2147483647    -77.50    164.00  0.0131
                       164.375   -2147483647    -77.50    164.25  0.0132
                       164.625   -2147483647    -77.50    164.50  0.0131
...                                      ...       ...       ...     ...
                    1  313.375   -2147483647    -77.25    313.50  0.0098
                       313.625   -2147483647    -77.25    313.75  0.0099
                       313.875   -2147483647    -77.25    314.00  0.0099
                       314.125   -2147483647    -77.25    314.25  0.0099
                       314.375   -2147483647    -77.25    314.50  0.0099

                                     adt    ugos    vgos     sla   ugosa  \
time       latitude nv longitude
1993-01-02 -77.375  0  163.625   -1.3188  0.0261  0.0091 -0.0238 -0.0077
                       163.875   -1.3246  0.0264  0.0076 -0.0236 -0.0099
                       164.125   -1.3278  0.0239  0.0036 -0.0236 -0.0140
                       164.375   -1.3275  0.0248 -0.0251 -0.0222 -0.0125
                       164.625   -1.3245  0.0278 -0.0272 -0.0188 -0.0053
...                                  ...     ...     ...     ...     ...
                    1  313.375   -1.1889  0.0160  0.0267 -0.0008  0.0043
                       313.625   -1.1909  0.0112  0.0261 -0.0024 -0.0031
                       313.875   -1.1936  0.0083  0.0368 -0.0032 -0.0061
                       314.125   -1.1963  0.0069  0.0121 -0.0042 -0.0067
                       314.375   -1.1939  0.0127 -0.0527 -0.0008 -0.0014

                                   vgosa
time       latitude nv longitude
1993-01-02 -77.375  0  163.625    0.0006
                       163.875   -0.0011
                       164.125   -0.0065
                       164.375   -0.0292
                       164.625   -0.0338
...                                  ...
                    1  313.375    0.0150
                       313.625    0.0143
                       313.875    0.0133
                       314.125   -0.0066
                       314.375   -0.0895

[270 rows x 10 columns]