In [ ]:
!pip install xarray
import xarray as xr

In [2]:
filepath =  "osu_daily_sla_geovel_1993_v2"
ds = xr.open_dataset(f'../data/{filepath}.nc')
df = ds.to_dataframe()

In [10]:
df

                                             lat_bnds  lon_bnds  time_bnds  \
latitude longitude time                bnds
32.125   225.125   1993-01-01 12:00:00 0        32.00    225.00 1993-01-01
                                       1        32.25    225.25 1993-01-02
                   1993-01-02 12:00:00 0        32.00    225.00 1993-01-02
                                       1        32.25    225.25 1993-01-03
                   1993-01-03 12:00:00 0        32.00    225.00 1993-01-03
...                                               ...       ...        ...
48.375   248.625   1993-12-29 12:00:00 1        48.50    248.75 1993-12-30
                   1993-12-30 12:00:00 0        48.25    248.50 1993-12-30
                                       1        48.50    248.75 1993-12-31
                   1993-12-31 12:00:00 0        48.25    248.50 1993-12-31
                                       1        48.50    248.75 1994-01-01

                                             sea_surface_height_above_sea_level  \
latitude longitude time                bnds
32.125   225.125   1993-01-01 12:00:00 0                              -0.051362
                                       1                              -0.051362
                   1993-01-02 12:00:00 0                              -0.052162
                                       1                              -0.052162
                   1993-01-03 12:00:00 0                              -0.050462
...                                                                         ...
48.375   248.625   1993-12-29 12:00:00 1                                    NaN
                   1993-12-30 12:00:00 0                                    NaN
                                       1                                    NaN
                   1993-12-31 12:00:00 0                                    NaN
                                       1                                    NaN

                                             surface_geostrophic_northward_sea_water_velocity  \
latitude longitude time                bnds
32.125   225.125   1993-01-01 12:00:00 0                                             0.038176
                                       1                                             0.038176
                   1993-01-02 12:00:00 0                                             0.038712
                                       1                                             0.038712
                   1993-01-03 12:00:00 0                                             0.032814
...                                                                                       ...
48.375   248.625   1993-12-29 12:00:00 1                                                  NaN
                   1993-12-30 12:00:00 0                                                  NaN
                                       1                                                  NaN
                   1993-12-31 12:00:00 0                                                  NaN
                                       1                                                  NaN

                                             surface_geostrophic_eastward_sea_water_velocity
latitude longitude time                bnds
32.125   225.125   1993-01-01 12:00:00 0                                            0.075296
                                       1                                            0.075296
                   1993-01-02 12:00:00 0                                            0.081228
                                       1                                            0.081228
                   1993-01-03 12:00:00 0                                            0.086703
...                                                                                      ...
48.375   248.625   1993-12-29 12:00:00 1                                                 NaN
                   1993-12-30 12:00:00 0                                                 NaN
                                       1                                                 NaN
                   1993-12-31 12:00:00 0                                                 NaN
                                       1                                                 NaN

[4577100 rows x 6 columns]